<a href="https://colab.research.google.com/github/galacticor/Kuliah/blob/master/DS/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
melb_data = pd.read_csv("https://raw.githubusercontent.com/galacticor/Kuliah/master/DS/dataset/melb_data.csv")

In [18]:
y = melb_data.Price
melb_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
melb_data = melb_data.dropna()
X = melb_data[melb_features]
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [22]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

melb_model = DecisionTreeRegressor(random_state = 1)
melb_model.fit(X,y)
val_predict = melb_model.predict(X)
val = mean_absolute_error(val_predict, y)
print(val)

# Bisa dilihat hasil MAE awal kalo train dari valuenya

1115.7467183128902

In [23]:
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X,y, random_state = 1)
melb_model.fit(train_X, train_y)
val_predict = melb_model.predict(val_X)
val = mean_absolute_error(val_predict, val_y)
print(val)

# Bisa dilihat hasil MAE awal kalo train dari value hasil split dipilih yang mana yang buat train dan yang mana yang buat test,
# nilai tambah gede karena ada model yang featurenya ga cocok karena kadang klo dimasukin data baru bukan dari train maka bisa error gede banget

251688.7630729503